html, body, div, span, article, section,
h1, h2, h3, h4, h5, h6, p,
a, button,
ol, ul, li,
form, label, input,
header, nav {
  margin: 0;
  padding: 0;
  font-size: 100%; }

/* no border on fieldset */
fieldset {
  border: none; }

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*** General ***/
html {
  font-size: 62.5%; }

body {
  font-family: "Arimo", "sans-serif";
  font-size: 1.4rem;
  color: #000;
  font-weight: 500; }

h1 {
  font-family: "Roboto", sans-serif;
  color: #163141;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem; }

img {
  margin: 1rem 0; }

strong {
  font-size: 2rem; }

fieldset {
  margin-bottom: 3rem; }

/* style first form section */
.product {
  /** radio button styling **/
  /* add border when checked */
  /* align center of size radio input with label text */
  /* hide color labels and align radio buttons */ }
  .product legend {
    font-weight: 600; }
  .product input[type=radio] {
    width: 13rem;
    height: 4rem; }
    .product input[type=radio]:checked {
      border: 3px solid #47c252; }
  .product .size label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product #size_1 {
    margin-bottom: -3rem;
    background-color: #eee; }
  .product .radio-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product .colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product .colors label {
      text-indent: -999rem; }
  .product #color_1 {
    background-color: #1b8118;
    margin-right: 1rem; }
  .product #color_2 {
    background-color: #104688; }

/* style second form section */
.shipping-details {
  background-color: #faf9f8; }
  .shipping-details label {
    margin-top: 1rem; }
  .shipping-details input {
    margin-bottom: 1rem; }
  .shipping-details .address_2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: calc(90% / 3); }
  .shipping-details select {
    height: 3rem;
    font-size: 1.4rem; }
  .shipping-details .country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

/* style third form section */
.order-summary {
  background-color: #f4f3f2; }
  .order-summary div {
    margin-top: 1rem; }
  .order-summary hr {
    width: 100%;
    color: #eee;
    margin: 1rem 0; }
  .order-summary p.product-name, .order-summary p.price {
    font-size: 2rem; }
  .order-summary .address {
    height: 10rem;
    margin: 1rem 0; }
  .order-summary button {
    width: 100%;
    height: 3.5rem;
    background-color: #47c252; }

/** Form **/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* div containing product name and price in summary */ }
  @media (min-width: 300px) and (max-width: 700px) {
    form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  form section {
    max-height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem; }
    @media (min-width: 701px) {
      form section {
        width: calc(100% / 3);
        padding: 2rem; } }
  form .price {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  form .name-price, form .shipping, form .total, form .address_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  form input {
    width: 100%;
    height: 2rem; }
