$font-family-default: 'Arimo', 'sans-serif';
$font-family-headings: 'Roboto', sans-serif;

$font-size-default: 1.4rem;
$font-size-large: 2rem;
$font-size-heading: 2.5rem;

$font-color-default: #000;
$font-color-alt: #163141;