/*** General ***/
html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $font-color-default;
}

h1 {
    font-family: $font-family-headings;
    color: $font-color-alt;
    font-size: $font-size-heading;
    font-weight: 900;
}

img {
    margin: 1rem 0;
}

strong {
    font-size: 2rem;
}

fieldset {
    margin-bottom: 5rem;
}

.shipping-details {
    background-color: #faf9f8;
}

.order-summary {
    background-color: #f4f3f2;
}

/** Form **/
form {
    display: flex;
    @include mq(small) {
        flex-direction: column;
    }
    
    section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @include mq(medium) {
            width: calc(100% / 3);
            padding: 2rem;
        }
    }
    
    .price {
        align-self: flex-end;
    }
    
    /* div containing product name and price in summary */
    .name-price, .shipping, .total, .address_2 {
        display: flex;
        justify-content: space-between;
    }
    
    .address_2 div {
        display: flex;
        flex-direction: column;
        max-width: calc(90% / 3);
    }
    
    input {
        width: 100%;
        height: 2rem;
    }
}

/** radio button styling **/
/* add border when checked */
input[type=radio] {
    width: 10rem;
    height: 4rem;
    
    &:checked {
        border: 2px solid #000;
    }
}

/* align center of size radio input with label text */
.size label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colors label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
    
#size_1, #color_1, #color_2 {
    margin-bottom: -3rem;
    background-color: #eee;
}




